S3method(print,ggtable)
export("+.ggtable")
export(ggt_cell_plain)
export(ggt_cell_regression)
export(ggt_getIDLevels)
export(ggt_labeller)
export(ggt_line)
export(ggt_opts)
export(ggt_order)
export(ggt_rename)
export(ggt_valsep)
export(ggtable)
import(data.table)
import(digest)
